/* ==============================================================================================
Nick Mkrtchyan
https://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
header {
  background-color:rgba(33, 33, 33, 0.9);
  color:#ffffff;
  display:block;
  font: 16px/1.3 Helvetica,sans-serif;
  position:relative;
  z-index:5;

  .header-container {
    padding: 11px;
  }

  h1 {
    display: inline-block;
  }

  span.fa-bars {
    float: right;
    margin-top: 2px;
    padding: 11px;
  }
}
h1 {
  color: #333;
  font: 32px/1.3 Helvetica,sans-serif;
  font-weight: bold;
}
h2{
  margin-top: 30px;
  text-align: center;
}
header h2{
  font-size: 22px;
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
}
header a, a:visited {
  text-decoration:none;
  color:#fcfcfc;
}
.mega-drop-down {
  font: 16px/1.3 Helvetica,sans-serif;
  
  position: relative;

  li {
    border-bottom: 1px solid #f0f0f0;
  }
  li:last-child {
    border-bottom: none;
  }

  
  

  .mega-drop-down-container {
    position: absolute;
    right: 11px;
    background-color: #444444;
    opacity: 0.95;
    max-width: 100%;
    width: 300px;

    @media screen and (max-width: 700px) {
      right: 0;
    }

    ul {
      padding: 0 22px;

      a {
        color: #f0f0f0;
        display: block;
        padding: 11px;
        text-align: right;
        text-decoration: none;
        &:hover {
          color: #e33;
        }
      }
    }
  }
}

.container {
  margin: 0 auto;
  width: 1024px;

  @media screen and (max-width: 1024px) {
    width: 100%;
    float: none;
  }

  .container-inner {
    padding: 44px 11px;

    br + img {
      padding: 44px 0;
    }
  }
}
body {
  background-color: #c5c5c5;
}

img {
  margin: 0 auto;
  max-width: 700px;
  display: block;

  @media screen and (max-width: 700px) {
    max-width: 100%;
  }
}

.root {
  font: 16px/1.3 Helvetica,sans-serif;
  .post-body {
    img {
      margin: 0 auto;
      max-width: 700px;
      display: block;

      @media screen and (max-width: 700px) {
        max-width: 100%;
      }
    }
  }
}
